/* ===================== Google Fonts ==================== */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
  --primary-color: #4682b4;
  --secondary-color: #eff6ff;

  --body-font: "Nunito", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: var(--body-font);
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--primary-color);
}

.container {
  padding: 1rem;
  background-color: #f9fafb;
  width: 75vw;
  border-radius: 1rem;
  box-shadow: 0 20px 40px rgba(1, 35, 63, 0.2);
}

.container header {
  display: block;
  margin: 1rem 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
}

.container .search-box {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-text {
  width: 60%;
  position: relative;
}

.search-box input {
  width: 100%;
  padding: 0 0.5rem 0.5rem 0;
  font-size: 0.8rem;
  border: none;
  outline: none;
  border-bottom: 2px solid #d1d5db;
  background-color: #f9fafb;
}

.search-box input:focus {
  border-bottom: 2px solid var(--primary-color);
}

.search-box .input-text i {
  color: #d1d5db;
  position: absolute;
  cursor: pointer;
  right: 0.5rem;
  transform: translateY(50%);
}

.search-box button {
  background-color: var(--primary-color);
  color: #f9fafb;
  padding: 0.6rem 1.2rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 0.6rem;
}

.info {
  background-color: #f9fafb;
  font-size: 0.9rem;
  color: #6b7280;
  padding: 0.5rem;
  border-radius: 0.7rem;
  text-align: center;
  margin-bottom: 1rem;
}

.container.active .info {
  display: none;
}

.info span {
  font-size: 1rem;
  font-weight: 700;
}

.info.search {
  background-color: #6ee7b7;
}

.info.failed {
  background-color: #fca5a5;
}

.container ul {
  /* display: none; */
  height: 0;
  opacity: 0;
  /* overflow: hidden; */
  transition: all 0.4s ease;
}

.container.active ul {
  /* display: block; */
  height: 100%;
  opacity: 1;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #d1d5db;
}

li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.word p {
  font-size: 1.5rem;
  font-weight: 600;
}

.word span {
  color: #6b7280;
}

.content {
  max-height: 20vh;
  overflow-y: auto;
}

/* .content::-webkit-scrollbar {
  width: 0px;
} */

.word i {
  cursor: pointer;
  color: #374151;
}

.content .details {
  border-radius: 0.3rem 0 0 0.3rem;
  border-left: 5px solid var(--primary-color);
  padding-left: 1rem;
}

.content .details p {
  font-size: 1.2rem;
  font-weight: 550;
}

.content .details span {
  font-size: 0.9rem;
  color: #6b7280;
}

.synonyms .details .list span {
  cursor: pointer;
  text-decoration: underline;
}
